@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
p,
textarea {
  color: $color-secondary;
  margin: 0;
  line-height: 1.4;
}

input:disabled,
textarea:disabled {
  color: $color-secondary;
}
